.team-member h3 {
    color: black;
    margin-bottom: 0;
    font-size: 20px;
    padding: 70;
}

.team_name{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.team_text:{
    border-top: 7px solid black;
    border-bottom: 1px solid black;
}

.team-member .social-icons a {
    background: #2E4272;
    color: #fff;
    padding: 4px 8px;
    display: inline-block;
    font-size: 30px;
}

.team-member .social-icons{
    margin-left: auto;
}

.col-md-6{
    margin: 0 auto;
    margin-top:20px;
    border: 1px solid black;
    border-radius: 1%;
}

img.logo {
  width: 150px;

  position: absolute;
  top: -25px;
  left:80px;
  color: blue;  

}